# Import dependecies

In [46]:
import numpy as np
import pandas as pd
 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
#from xgboost import XGBClassifier
from sklearn import metrics

import warnings
warnings.filterwarnings('ignore')

# Get stock data

In [47]:
# TO_DO: Name cell get_stock_data
# TO_DO: Uncomment_return

url="https://raw.githubusercontent.com/plotly/datasets/master/tesla-stock-price.csv"
df=pd.read_csv(url,on_bad_lines='skip')
get_stock_data = df.iloc[1:]

get_stock_data.copy()

#return get_stock_data.copy()

           date   close         volume    open      high       low
1    2018/10/15  259.59   6189026.0000  259.06  263.2800  254.5367
2    2018/10/12  258.78   7189257.0000  261.00  261.9900  252.0100
3    2018/10/11  252.23   8128184.0000  257.53  262.2500  249.0300
4    2018/10/10  256.88  12781560.0000  264.61  265.5100  247.7700
5    2018/10/09  262.80  12037780.0000  255.25  266.7700  253.3000
..          ...     ...            ...     ...       ...       ...
752  2015/10/21  210.09   4177956.0000  211.99  214.8100  208.8000
753  2015/10/20  213.03  14877020.0000  227.72  228.6000  202.0000
754  2015/10/19  228.10   2506836.0000  226.50  231.1500  224.9400
755  2015/10/16  227.01   4327574.0000  223.04  230.4805  222.8700
756  2015/10/15  221.31   2835920.0000  216.43  221.7300  213.7000

[756 rows x 6 columns]

# Clean Data

In [48]:
# TO_DO: Name cell data_cleaning
# TO_DO: Uncomment_return

splitted = get_stock_data['date'].str.split('/', expand=True)
 
get_stock_data['day'] = splitted[1].astype('int')
get_stock_data['month'] = splitted[0].astype('int')
get_stock_data['year'] = splitted[2].astype('int')

get_stock_data['is_quarter_end'] = np.where(get_stock_data['month']%3==0,1,0)

 
data_cleaning = get_stock_data.copy()
data_cleaning

#return data_cleaning

,date,close,volume,open,high,low,day,month,year,is_quarter_end
1,2018/10/15,259.59,6189026.0000,259.06,263.2800,254.5367,10,2018,15,0
2,2018/10/12,258.78,7189257.0000,261.00,261.9900,252.0100,10,2018,12,0
3,2018/10/11,252.23,8128184.0000,257.53,262.2500,249.0300,10,2018,11,0
4,2018/10/10,256.88,12781560.0000,264.61,265.5100,247.7700,10,2018,10,0
5,2018/10/09,262.80,12037780.0000,255.25,266.7700,253.3000,10,2018,9,0
...,...,...,...,...,...,...,...,...,...,...
752,2015/10/21,210.09,4177956.0000,211.99,214.8100,208.8000,10,2015,21,0
753,2015/10/20,213.03,14877020.0000,227.72,228.6000,202.0000,10,2015,20,0
754,2015/10/19,228.10,2506836.0000,226.50,231.1500,224.9400,10,2015,19,0
755,2015/10/16,227.01,4327574.0000,223.04,230.4805,222.8700,10,2015,16,0
756,2015/10/15,221.31,2835920.0000,216.43,221.7300,213.7000,10,2015,15,0

# Feature Engineering

In [49]:
# TO_DO: Name cell feature_engineering
# TO_DO: Uncomment_return

data_cleaning['open-close'] = data_cleaning['open'] - data_cleaning['close']
data_cleaning['low-high'] = data_cleaning['low'] - data_cleaning['high']
data_cleaning['target'] = np.where(data_cleaning['close'].shift(-1) > data_cleaning['close'], 1, 0)

feature_engineering = data_cleaning.copy()
feature_engineering

#return feature_engineering

,date,close,volume,open,high,low,day,month,year,is_quarter_end,open-close,low-high,target
1,2018/10/15,259.59,6189026.0000,259.06,263.2800,254.5367,10,2018,15,0,-0.53,-8.7433,0
2,2018/10/12,258.78,7189257.0000,261.00,261.9900,252.0100,10,2018,12,0,2.22,-9.9800,0
3,2018/10/11,252.23,8128184.0000,257.53,262.2500,249.0300,10,2018,11,0,5.30,-13.2200,1
4,2018/10/10,256.88,12781560.0000,264.61,265.5100,247.7700,10,2018,10,0,7.73,-17.7400,1
5,2018/10/09,262.80,12037780.0000,255.25,266.7700,253.3000,10,2018,9,0,-7.55,-13.4700,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,2015/10/21,210.09,4177956.0000,211.99,214.8100,208.8000,10,2015,21,0,1.90,-6.0100,1
753,2015/10/20,213.03,14877020.0000,227.72,228.6000,202.0000,10,2015,20,0,14.69,-26.6000,1
754,2015/10/19,228.10,2506836.0000,226.50,231.1500,224.9400,10,2015,19,0,-1.60,-6.2100,0
755,2015/10/16,227.01,4327574.0000,223.04,230.4805,222.8700,10,2015,16,0,-3.97,-7.6105,0
756,2015/10/15,221.31,2835920.0000,216.43,221.7300,213.7000,10,2015,15,0,-4.88,-8.0300,0

# Scale Split

In [50]:
# TO_DO: Name cell scale_split
# TO_DO: Uncomment_return

features = feature_engineering[['open-close', 'low-high', 'is_quarter_end']]
target = feature_engineering['target']
 
scaler = StandardScaler()
features = scaler.fit_transform(features)
 
X_train, X_valid, Y_train, Y_valid = train_test_split(
    features, target, test_size=0.1, random_state=2022)

#return X_train, X_valid, Y_train, Y_valid

# Train/Eval

In [51]:
# TO_DO: Uncomment train_val
# TO_DO: Uncomment TRAIN vars

#X_train, X_valid, Y_train, Y_valid = scale_split

models = [LogisticRegression(), SVC(
  kernel='poly', probability=True)]
 
for i in range(2):
  models[i].fit(X_train, Y_train)
 
  print(f'{models[i]} : ')
  print('Training Accuracy : ', metrics.roc_auc_score(
    Y_train, models[i].predict_proba(X_train)[:,1]))
  print('Validation Accuracy : ', metrics.roc_auc_score(
    Y_valid, models[i].predict_proba(X_valid)[:,1]))
  print()

LogisticRegression() :
Training Accuracy :  0.9117993079584775
Validation Accuracy :  0.9256944444444445

SVC(kernel='poly', probability=True) :
Training Accuracy :  0.9093339100346022
Validation Accuracy :  0.9138888888888889